nav{
    background-color: chartreuse;
    width: auto;
    height: 70px;
    display: flex;
    gap: 15px;
}

.assessments{
    margin-left: 100px;
    color: white;
}

.que{
    margin-left:auto;
}

.mag{
    width:50px ;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.purple{
    background-color:purple;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card{
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;
}

.blue{
    background-color: blue;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card1{
    border:1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;
}

.topgreen{
    background-color: green;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}
.card2{
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;
}

.toporange{
    background-color: orange;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card3{
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;
}

.orange{
    background-color: orange;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card4{
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;
}

.toppurple{
    background-color: purple;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card5{
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;
}

.topblue{
    background-color: blue;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card6{
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;

}

.green{
    background-color: green;
    width: 300px;
    height: 100px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card7{
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 5%;
}

.firstfour{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px 3px 30px;

    
}

.lastfour{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
    margin: auto;
}


    